.main {
  height: 100%;
  width: 100%;
}

.hero {
  box-sizing: border-box;
  height: 29.3125rem;
  background-color: var(--light-blue);
  background-image: url(../../sunnyside-agency-landing-page-main/images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center bottom;
  padding-top: 3.125rem;
}

.hero-txt {
  text-transform: uppercase;
  margin: 0;
  color: var(--white);
  font-family: "Fraunces", serif;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 7px;
  max-width: 95%;
  margin: auto;
}

.egg {
  width: 100%;
  height: 16rem;
  background-image: url(../../sunnyside-agency-landing-page-main/images/mobile/image-transform.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.red {
  width: 100%;
  height: 16rem;
  background-image: url(../../sunnyside-agency-landing-page-main/images/mobile/image-stand-out.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.egg-txt,
.red-txt {
  box-sizing: border-box;
  width: 100%;

  padding-top: 3.75rem;
}

.egg-txt h1,
.red-txt h1 {
  margin: 0;
  font-family: "Fraunces", serif;
  max-width: 85%;
  text-align: center;
  margin: auto;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.75rem;
  color: var(--very-dark-blue);
}

.egg-txt h2,
.red-txt h2 {
  text-align: center;
  max-width: 95%;
  margin: auto;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  line-height: 1.75;
  margin-bottom: 1.75rem;
}

.learn-more {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}

.learn-more a {
  margin: auto;
  color: var(--very-dark-blue);
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  position: relative;
  display: flex;
  justify-content: center;
}

.learn-more a::before {
  content: "";
  position: absolute;
  width: 7.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: var(--yellow);
  opacity: 0.3;
  bottom: -2px;
  z-index: -1;
}

.learn-more2 a::before {
  background-color: var(--soft-red);
}

.cherries,
.oranges {
  width: 100%;
  height: 38rem;
}

.cherries {
  background-image: url(../../sunnyside-agency-landing-page-main/images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-position: center center;
}
.oranges {
  background-image: url(../../sunnyside-agency-landing-page-main/images/mobile/image-photography.jpg);
  background-size: cover;
  background-position: center center;
}

.fruit-heading h2 {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  color: var(--dark-cyan);
  margin-bottom: 1.75rem;
}

.fruit-txt {
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  color: var(--dark-cyan);
}
.oranges .fruit-heading h2 {
  color: var(--dark-blue);
}
.oranges .fruit-txt p {
  color: var(--dark-blue);
}

.cherries,
.oranges {
  box-sizing: border-box;
  padding-top: 26rem;
}

.testimonials {
  box-sizing: border-box;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}
.testimonials-heading {
  margin: 0;
  text-align: center;
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}

.testimonial-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial-img {
  border-radius: 50%;
  width: 4rem;
  margin-bottom: 1.75rem;
}

.testimonial-txt {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: var(--very-dark-grayish-blue);
  line-height: 1.6;
  margin-bottom: 1.75rem;
}

.name {
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 0.75rem;
}

.job {
  text-align: center;
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-size: 0.8rem;
  color: var(--grayish-blue);
  margin-bottom: 3.5rem;
}
@media only screen and (min-width: 640px) {
  .hero {
    box-sizing: border-box;
    height: 42rem;
    background-image: url(../../sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 7.5rem;
  }

  .hero-txt {
    font-size: 3rem;
  }

  .egg {
    background-image: url(../../sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg);
    height: 30rem;
  }

  .red {
    background-image: url(../../sunnyside-agency-landing-page-main/images/desktop/image-stand-out.jpg);
    height: 30rem;
  }

  .egg-txt h1,
  .red-txt h1 {
    font-size: 3rem;
  }

  .cherries {
    background-image: url(../../sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
  }

  .oranges {
    background-image: url(../../sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
  }

  .fruit-heading h2 {
    font-size: 2.5rem;
  }
  .fruit-txt p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1023px) {
  .section1 {
    display: flex;
  }
  .egg {
    order: 1;
    background-size: cover;
  }
  .egg-txt,
  .red-txt {
    padding-top: 8rem;
  }
  .egg-txt h1,
  .red-txt h1 {
    font-size: 2rem;
    width: 65%;
    text-align: left;
    margin-left: 7rem;
  }

  .egg-txt h2,
  .red-txt h2 {
    width: 70%;
    text-align: left;
    font-size: 0.9rem;
    margin-left: 7rem;
  }
  .red-txt h1,
  .red-txt h2 {
    margin-left: 5rem;
  }
  .red-text h1 {
    width: 100%;
  }

  .learn-more,
  .learn-more2 {
    justify-content: flex-start;
  }

  .learn-more a {
    margin-left: 7rem;
    font-size: 0.9rem;
  }
  .learn-more2 a {
    margin-left: 5rem;
    font-size: 0.9rem;
  }

  .section2 {
    display: flex;
  }

  .fruits {
    display: flex;
  }

  .oranges,
  .cherries {
    height: 30rem;
    padding-top: 19rem;
  }

  .fruit-heading h2 {
    font-size: 1.75rem;
  }

  .fruit-txt p {
    font-size: 0.9rem;
    width: 50%;
    margin: auto;
  }
  .testimonials {
    padding-top: 8rem;
  }
  .testimonials-container {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
  }
  .testimonial-item {
    gap: 1rem;
  }
  .testimonial-txt {
    width: 100%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .hero-txt {
    font-size: 3.75rem;
  }
  .hero {
    background-size: 90%;
    height: 52rem;
  }
  .egg {
    height: 50rem;
  }

  .egg-txt,
  .red-txt {
    padding-top: 15rem;
  }

  .egg-txt h1,
  .red-txt h1 {
    margin-left: 10rem;
    font-size: 3rem;
    width: 50%;
    margin-bottom: 2.5rem;
  }

  .red-txt h1 {
    width: 60%;
  }
  .egg-txt h2,
  .red-txt h2 {
    margin-left: 10rem;
    font-size: 1.25rem;
    margin-bottom: 3.5rem;
  }

  .learn-more {
    margin-left: 10rem;
  }

  .learn-more a {
    margin: 0;
  }

  .red {
    height: 50rem;
  }

  .oranges,
  .cherries {
    height: 50rem;
    padding-top: 35rem;
  }

  .fruit-heading h2 {
    font-size: 2.25rem;
  }

  .fruit-txt p {
    font-size: 1.25rem;
    width: 50%;
    margin: auto;
  }
  .testimonials-container {
    justify-content: center;
  }
  .testimonials-heading {
    font-size: 1.5rem;
  }
  .testimonial-txt {
    width: 60%;
    font-size: 1.25rem;
  }

  .name {
    font-size: 1.1rem;
  }
  .job {
    font-size: 0.9rem;
  }
}
